body{
    text-align: center;
    background: powderblue;
}
input{
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    margin: 20px;
    font-size: 20pt;
    color: grey;
    background: powderblue;
    outline: none;
    font-family: 'Marcellus', serif;
}
input:focus, input[type=text]:focus{
    background: whitesmoke;
    color:black;
}
a{
    font-family: 'Marcellus', serif;
}
p{
    font-family: 'Marcellus', serif;
    width: 60%;
    margin-left: 20%;
    line-height: 60px;
    font-size: 18pt;
    padding-bottom: 10%;
}
button{
    font-size: 12pt;
    width: 150px;
    border-radius: 15px;
    margin: 15px;
    font-family: 'Marcellus', serif;
}
button:hover{
    font-size: 12pt;
    background: plum;
    border-radius: 15px;
}
h1{
    font-family: 'Londrina Shadow', cursive;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 35pt;
}
h4{
    font-family: 'Londrina Shadow', cursive;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 55pt;
}
h2{
    font-family: 'Londrina Shadow', cursive;
    word-spacing: .2em;
    letter-spacing: .1em;
    text-align: left;
    margin-left: 6%;
    font-size: 30pt;
}
h3{
    font-family: 'Londrina Sketch', cursive;
    letter-spacing: .1em;
    font-size: 25pt;
    line-height: 10px;
}
hr{
    border: 1px solid grey;
    margin-top: -15px;
}
#colors div{
    width: 33vw;
    float: left;

}
#colors span{
    border-radius: 50%;
    margin: 3px;
    font-size: 30pt;
    color: transparent;
}

#logo{
    font-family: 'Londrina Shadow', cursive;
    text-align: left;
    margin-left: 8%;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 30pt;
}
#logo-color{
    font-family: 'Londrina Solid', cursive;
    color: plum;
}
footer{
    position: fixed;
    text-align: center;
    margin: 150px 0 20px 0;
}