

body{
    text-align: center;
    background: powderblue;
    /*margin-left: 6%;*/
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 2%;
}

input{
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    margin: 20px;
    font-size: 20pt;
    color: grey;
    background: powderblue;
    outline: none;
    font-family: 'Marcellus', serif;
}
input:focus, input[type=text]:focus{
    background: whitesmoke;
    color:black;
}
a{
    font-family: 'Marcellus', serif;
    font-size: 14pt;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
p{
    font-family: 'Marcellus', serif;
    width: 60%;
    margin-left: 20%;
    line-height: 60px;
    font-size: 18pt;
    padding-bottom: 10%;
}
img {
    height: 150px;
}
button{
    font-size: 12pt;
    width: 150px;
    border-radius: 15px;
    margin: 15px;
    font-family: 'Marcellus', serif;
}
button:hover{
    font-size: 12pt;
    background: plum;
    border-radius: 15px;
    cursor: pointer;
}
h1{
    font-family: 'Londrina Shadow', cursive;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 35pt;

}
h4{
    font-family: 'Londrina Solid', cursive;
    color: darkgreen;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 55pt;
}
h2{
    font-family: 'Londrina Solid', cursive;
    color: #404040;
    word-spacing: .2em;
    letter-spacing: .1em;
    text-align: center;
    font-size: 25px;
}
h3{
    font-family: 'Londrina Sketch', cursive;
    letter-spacing: .1em;
    font-size: 35px;
    line-height: 10px;
    text-align: center;

}

h3:hover {
  color: plum;
  cursor: pointer;
}
hr{
    border: 1px solid grey;
    margin-top: -15px;
    margin-left: -6%;
}
.colors div{
    float: left;
    margin: 6%;
    display: flex;
    flex-wrap: nowrap;
}
.colors span{
    border-radius: 50%;
    font-size: 30pt;
    color: transparent;
    float: left;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.look-view-img {
    height: 200px;
    padding: 2%;
    background-color: whitesmoke;
    border-radius: 20%;
}

#greeting {
    text-align: center;
}

#logo{
    font-family: 'Londrina Shadow', cursive;
    text-align: left;
    margin-left: 2%;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-size: 50px;
}
#logo-color{
    font-family: 'Londrina Solid', cursive;
    color: plum;
    font-size: 50px;
}
footer{
    position: fixed;
    text-align: center;
    margin: 150px 0 20px 0;
}